<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Comprehensive</string>
		<key>tcpScanTag</key>
		<integer>5</integer>
		<key>nonTcpScanTag</key>
		<integer>1</integer>
		<key>icmpPing</key>
		<true/>
		<key>icmpTimeStamp</key>
		<true/>
		<key>synPing</key>
		<true/>
		<key>synPingString</key>
		<string>21,22,23,25,8,113,31339</string>
		<key>ackPing</key>
		<true/>
		<key>ackPingString</key>
		<string>80,113,443,10042</string>
		<key>udpProbe</key>
		<true/>
		<key>ipprotoProbe</key>
		<true/>
		<key>traceRoute</key>
		<true/>
		<key>lastAccessDate</key>
		<date>2009-08-17T03:06:08Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>Quick Traceroute</string>
		<key>nonTcpScanTag</key>
		<integer>4</integer>
		<key>icmpPing</key>
		<true/>
		<key>synPing</key>
		<true/>
		<key>synPingString</key>
		<string>22,25,80</string>
		<key>ackPing</key>
		<true/>
		<key>ackPingString</key>
		<string>21,23,80,3389</string>
		<key>udpProbe</key>
		<true/>
		<key>ipprotoProbe</key>
		<true/>
		<key>traceRoute</key>
		<true/>
		<key>lastAccessDate</key>
		<date>2009-08-17T03:04:18Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>Find Local+</string>
		<key>versionDetection</key>
		<true/>
		<key>enableAggressive</key>
		<true/>
		<key>timingTemplateTag</key>
		<integer>4</integer>
		<key>osDetection</key>
		<true/>
		<key>lastAccessDate</key>
		<date>2009-08-17T03:02:33Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>Find Printers</string>
		<key>versionDetection</key>
		<true/>
		<key>enableAggressive</key>
		<true/>
		<key>timingTemplateTag</key>
		<integer>4</integer>
		<key>osDetection</key>
		<true/>
		<key>portsToScan</key>
		<true/>
		<key>portsToScanString</key>
		<string>21,23,80,280,515,631</string>
		<key>scriptScan</key>
		<true/>
		<key>lastAccessDate</key>
		<date>2009-08-17T03:02:33Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>Find Shares</string>
		<key>versionDetection</key>
		<true/>
		<key>enableAggressive</key>
		<true/>
		<key>timingTemplateTag</key>
		<integer>4</integer>
		<key>osDetection</key>
		<true/>
		<key>portsToScan</key>
		<true/>
		<key>portsToScanString</key>
		<string>21,23,80,280,515,631</string>
		<key>scriptScan</key>
		<true/>
		<key>lastAccessDate</key>
		<date>2009-08-17T03:02:33Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>Find Local</string>
		<key>fastScan</key>
		<true/>
		<key>timingTemplateTag</key>
		<integer>4</integer>
		<key>lastAccessDate</key>
		<date>2009-08-17T03:02:33Z</date>
	</dict>
</array>
</plist>
